.Pagination {
  margin: 40px auto;
  width: 13rem;
}

.Pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}
