.CharacterInfo {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    text-align: center;
}

.Card {
    width: 20rem;
    flex: 1;
    margin: 2em;
    margin: 25px auto;
    color: black;
    border-radius: 10px;
    position: relative;
}
