.CharacterList {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    text-align: center;
}

.CardDeck {
    display: flex;
    flex-direction: row;
}

.Card {
    width: 18rem;
    flex: 1;
    margin: 25px auto;
    color: black;
    border-radius: 10px;
    position: relative;
}

